@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.top {
    &__container {
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 2rem;
    }
    &__link {
        color: $off-white;
    }
    &__title {
        font-family: 'Paytone One', sans-serif;
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
        min-width: 8rem;
    }

    &__profile {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        color: $off-white;
        gap: 0.5rem;
        min-width: 4rem;
        
    }

    &__icon {
        padding: 1rem;
    }

    &__menu {
        color: $off-white;
        min-width: 4rem;
        display: flex;
        justify-content: flex-end;
        position: absolute;
        right: 0;
        padding: 6rem 2rem 2rem 5rem;
        background-color: $background-faded;
        z-index: -5;
        border-radius: 4px;
        cursor: pointer;
    }
}


.spacer { 
    min-width: 8rem;
    width: 5%;

    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}