@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.loader {
    &__container {
        width: 15%;
        margin-top: 15rem;

        @include mobile {
          width: 50%;
        }
    }

    &__img {
        width: 100%;
        opacity: 0;
        filter: grayscale(30%);
        opacity: 0.9;
        animation: rotate 1.5s infinite;
    }
}

@keyframes rotate {
    0% {
      transform: rotate(0deg);
      opacity: 0;
    }
    50% {
      transform: rotate(-30deg);
      opacity: 0;

    }
    100% {
      transform: rotate(30deg);
      opacity: 1;
    }
  }