@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.collection-card {
  &__container {
    width: 20%;
    padding: 1rem;
    min-height: 385px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: $off-white;
    border-radius: 4px;
    min-width: 230px;

    &:hover {
      background-color: $off-white-highlighted;
      transition: background-color 0.3s;

      & > img {
          transform: scale(1.1);
          transition: transform 0.3s;
      }
  }
   
  }

  &__name {
    min-height: 3.5rem;
    font-weight: 500;
    text-align: center;
    font-size: 1.2rem;
  }

  &__image {
    width: 70%;
    padding-bottom: 1.2rem;
  }

  &__button {
    background-color: $black;
    color: $off-white;
    border: none;
    border-radius: 4px;
    padding: 0.75rem;
    width: 100%;
    text-transform: uppercase;
    margin-top: 1rem;
    font-size: 1.1rem;
    font-weight: 500;

    &:hover {
      background-color: $turquoise;
      transition: background-color 0.3s;
      cursor: pointer;

  }
}
}

.collection-card__container:nth-of-type(1) {
  animation: card-slide-in 0.6s;
}
.collection-card__container:nth-of-type(2) {
  animation: card-slide-in 0.5s;
}
.collection-card__container:nth-of-type(3) {
  animation: card-slide-in 0.4s;
}
.collection-card__container:nth-of-type(4) {
  animation: card-slide-in 0.3s;
}

@keyframes card-slide-in {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}