
//Color Palette

$light-yellow: #D9ED92;
$light-green: #B5E48C;
$medium-green: #99D98C;
$dark-green: #76C893;
$turquoise: #52B69A;
$blue-green: #34A0A4;
$light-blue: #168AAD;
$medium-blue: #1A759F;
$dark-blue: #1E6091;
$extra-dark-blue: #184E77;
$light-black: #061825;
$black: #030B11;