
//Color Palette

$light-yellow: #D9ED92;
$light-green: #B5E48C;
$medium-green: #99D98C;
$dark-green: #76C893;
$turquoise: #52B69A;
$blue-green: #34A0A4;
$light-blue: #168AAD;
$medium-blue: #1A759F;
$dark-blue: #1E6091;
$extra-dark-blue: #184E77;
$light-black: #061825;
$black: #030B11;

$background-faded: rgba(22,58,68,0.3);

$off-white: #F6FFF4;
$off-white-reduced: rgba(246,255,244,0.66);
$off-white-highlighted: #ffffff;

$dark-mode-bg: #121212;
$dark-mode-border: #3d3d3d;
$dark-mode-bg-hover: #1c1c1c;
