@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.timer {
  &__value {
    background-color: rgb(1, 11, 18);
    color: white;
    border: none;
    font-size: 2rem;
    padding-right: 0.1rem;
    max-width: 100px;
  }
}

.circle__element {
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 8;

  &--on {
    @extend .circle__element;
    animation: slide-up 0.5s ease-in-out;

  }
  
}

@keyframes slide-up {
  from {
    transform: translateY(55%);
  }
  to {
    transform: translateY(0);
  }
}