@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.block {

    &__container {
        width: 100%;
        background-color: $off-white;
        padding: 1rem 1.5rem;
        border-radius: 4px;
        display: flex;
        justify-content: space-between;

        font-size: 1.5rem;
        line-height: 1.8em;
    }

    &__left {
        width: 5%;
        max-height: 2rem;
        display: flex;
        align-items: center;
    }

    &__center {
        width: 90%;
    }

    &__title {
        font-size: 1.2rem;
        max-height: 2rem;
        opacity: 0.7;
        display: flex;
        align-items: center;
    }

    &__expand {
        width: 5%;
        
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}