@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.slide {
  &__top--left {
    display: flex;
  }
  &__container {
    background-color: $off-white;
    border: none;
    border-radius: 4px;
    min-height: 450px;
    padding: 1rem 3rem 1rem;
    animation: slide-in 0.5s;
    transition: all 0.3s;

    &--dark {
      @extend .slide__container;
      background-color: $dark-mode-bg;
      color: $off-white;
      border: 1px solid $off-white-reduced;
    }


    @include desktop {
      padding: 0.5rem 2rem 1rem;
      transition: all 0.3s;

    }

    @include mobile {
      min-height: initial;
      padding-bottom: 1rem;
    }

    &--special {
      display: flex;

      &--left {
        @extend .slide__container;
        width: 65%;
        padding: 2rem;

        &--dark {
          @extend .slide__container--special--left;
          background-color: $dark-mode-bg;
        }
        @include tablet {
          padding: 1rem;
        }
        @include mobile {
          width: 80%;
        }
      }

      &--right {
        width: 35%;
        position: relative;
        border: 5px solid $off-white;
        animation: slide-in 0.6s;
        z-index: 10;
        right: 1rem;

        &--dark {
          @extend .slide__container--special--right;
          border: 5px solid $dark-mode-bg;
        }
        @include desktop {
          max-height: 500px;
        }
        @include mobile {
          width: 20%;
        }
      }

      &--mascot {
        width: 120%;
        position: absolute;
        right: -2rem;
        bottom: 7rem;
        z-index: 10;
        animation: slide-in 1s;
        transition: all 0.3s;

        @include desktop {
          top: 20%;
          transition: all 0.3s;
        }
        @include mobile {
          top: 0;
          width: 220%;
        }
      }
    }

    &--technique {
      @extend .slide__container;

      @include tablet {
        padding-bottom: 0;
      }

      @include mobile {
        padding: 0rem 2rem 1rem;
      }
    }

    &__top {
      display: flex;
      justify-content: space-between;
      margin-bottom: 0.5rem;

      &--left {
        display: flex;
        align-items: center;
        gap: 1rem;
      }

      &--right {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
      }
    }

    &__bottom {
      display: flex;
      justify-content: space-between;
      border-top: 1px solid black;

      &--none {
        display: none;
      }

      &__block {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        padding: 1rem 0;

        @include tablet {
          padding: 1rem 0;
        }

        &--small {
          @extend .slide__container__bottom__block;
          padding: 0.5rem 0;
          @include tablet {
            gap: 0;
          }
          @include mobile {
           line-height: normal;
          }
        }
      }
    }
  }

  &__title {
    font-weight: 600;
    font-size: 2rem;
    padding-bottom: 1rem;

    &--dark {
      color: $off-white;
    }

    @include mobile {
      font-size: 1.5rem;
    }

    &--special {
      @extend .slide__title;

      &--dark {
        @extend .slide__title;
        color: $off-white;
      }

    }
  }

  &__content {
    color: $black;
    font-size: 2rem;
    line-height: 4rem;
    padding: 1rem 0;

    &--dark {
      @extend .slide__content;
      color: $off-white;
    }

    @include desktop {
      padding: 0.5rem 0;
      font-size: 1.5rem;
      line-height: 3.5rem;
    }
    @include tablet {
      font-size: 1.3rem;;
      line-height: 3rem;
    }
    @include mobile {
      font-size: 1rem;
      line-height: 2rem;
    }
  }

  &__start--less {
    font-size: 3rem;
    color: $medium-blue;
  }

  &__start--more {
    @extend .slide__start--less;

    &--small {
      font-size: 1.5rem;
      color: $medium-blue;
      padding: 0;
    }
  }

  &__play {
    font-size: 1.5rem;
    text-align: right;
    @include tablet {
      font-size: 1.3rem;
    }
    @include mobile {
      font-size: 1rem;
    }

    &--small {
      font-size: 1.2rem;

      @include tablet {
        font-size: 1rem;
      }

      @include mobile {
        font-size: 0.8rem;
        text-align: right;
      }
    }

    &--toggle {
      font-size: 1.5rem;
      padding: 1rem;

      @include tablet {
        font-size: 1.3rem;
      }

      @include mobile {
        font-size: 1rem;
        padding: 0.5rem;
      }

      &:hover {
        cursor: pointer;
        background-color: $turquoise;
        color: $off-white;
        border-radius: 8px;
        transition: all 0.3s;
      }

      &--small {
        padding: 0.3rem;
        font-size: 1.2rem;

        @include tablet {
          font-size: 1rem;
          min-width: 100px;
          text-align: center;

        }
        @include mobile {
          font-size: 0.8rem;
          min-width: 80px;

        }

        &:hover {
          cursor: pointer;
          background-color: $turquoise;
          color: $off-white;
          border-radius: 8px;
          transition: all 0.3s;
        }
      }
    }
  }
}

.list {
  &__container {
    width: 100%;
    display: flex;
    position: absolute;
  }

  &__appear {
    width: 70%;
    margin-top: 3rem;

    &--box {
      background-color: $off-white;
      padding: 1rem 3rem;
      font-size: 1.5em;
      line-height: 2.2rem;
      border-radius: 4px;
      @include tablet {
        padding: 1rem 1.5rem;
        font-size: 1.5rem;
        line-height: 2.2rem;
      }
      @include mobile {
        font-size: 1rem;
        line-height: 2rem;
        padding: 1rem 1.5rem;
      }
    }
  }

  &__mascot {
    margin-top: 3rem;
    width: 30%;
    right: 0;
    z-index: 10;

    @include tablet {
      width: 45%;
    }

    &--image {
      width: 100%;
      cursor: pointer;
    }
  }
}

.resource-link {
  width: 2.5rem;
  padding-top: 0.4rem;

  &--dark {
    @extend .resource-link;
    color: $off-white-reduced;
  }

  @include mobile {
    width: 1.5rem;
    padding-top: 0.25rem;
  }

  &:hover {
    cursor: pointer;
  }

  &-off {
    @extend .resource-link;
    padding: 0;

    &--dark{
      @extend .resource-link-off;
    }

    &:hover {
      cursor: auto;
    }
  }
}

.card-icon {
  font-size: 2rem;
  opacity: 0.7;

  @include mobile {
    font-size: 1rem;
  }
}

.slide__type {
  opacity: 0.7;
  @include mobile {
    font-size: 0.8rem;
  }
}

.units__saved {
  transition: all 0.5s ease;
  padding: 1rem 0;

  &:hover {
    cursor: pointer;
  }
  @include mobile {
    width: 1.7rem;
    padding: 1rem 0;
  }
}

.units__saved--off {
  transition: all 0.5s ease;
  padding: 1rem 0;

  &:hover {
    cursor: pointer;
    transition: background-color 0.5s ease;
  }

  @include mobile {
    width: 1.7rem;
  }
}

.content-bold {
  font-weight: 500;
  color: $turquoise;
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
