@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.slide {
  &__top--left {
    display: flex;
  }
  &__container {
    background-color: $off-white;
    border: none;
    border-radius: 4px;
    min-height: 450px;
    padding: 2rem 3rem 3rem;
    animation: slide-in 0.5s;

    &--special {
      display: flex;

      &--left {
        @extend .slide__container;
        width: 65%;
      }

      &--right {
        width: 35%;
        position: relative;
        border: 5px solid $off-white;
        animation: slide-in 0.6s;
        z-index: 10;
        right: 1rem;
      }

      &--mascot {
        width: 120%;
        position: absolute;
        right: -2rem;
        bottom: 7rem;
        z-index: 10;
        animation: slide-in 1s;
      }
    }

    &--technique {
      @extend .slide__container;
    }

    &__top {
      display: flex;
      justify-content: space-between;
      margin-bottom: 0.5rem;

      &--left {
        display: flex;
        align-items: center;
        gap: 1rem;
      }
    }

    &__bottom {
      display: flex;
      justify-content: space-between;
      border-top: 1px solid black;

      &__block {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        padding: 2rem 0;

        &--small {
          @extend .slide__container__bottom__block;
          padding: 0.5rem 0;
        }
      }
    }
  }

  &__title {
    font-weight: 600;
    font-size: 2rem;

    &--special {
      @extend .slide__title;
    }
  }

  &__content {
    color: $black;
    font-size: 2rem;
    line-height: 4rem;
    padding: 2rem 0;
  }

  &__start--less {
    font-size: 3rem;
    color: $medium-blue;
  }

  &__start--more {
    @extend .slide__start--less;

    &--small {
      font-size: 1.5rem;
      color: $medium-blue;
      padding: 0;
    }
  }

  &__play {
    font-size: 1.5rem;

    &--small {
      font-size: 1.2rem;
    }

    &--toggle {
      font-size: 1.5rem;
      padding: 1rem;

      &:hover {
        cursor: pointer;
        background-color: $turquoise;
        color: $off-white;
        border-radius: 8px;
        transition: all 0.3s;
      }

      &--small {
        padding: 0.3rem;
        font-size: 1.2rem;

        &:hover {
          cursor: pointer;
          background-color: $turquoise;
          color: $off-white;
          border-radius: 8px;
          transition: all 0.3s;
        }
      }
    }
  }
}

.list {
  &__container {
    width: 100%;
    display: flex;
    position: absolute;
  }

  &__appear {
    width: 70%;
    margin-top: 3rem;

    &--box {
      background-color: $off-white;
      padding: 1rem 3rem 1rem 3rem;
      font-size: 2em;
      border-radius: 4px;
    }
  }

  &__mascot {
    margin-top: 3rem;
    width: 30%;
    right: 0;
    z-index: 10;

    &--image {
      width: 100%;
      cursor: pointer;
    }
  }
}

.card-icon {
  font-size: 2rem;
  opacity: 0.7;
}

.slide__type {
  opacity: 0.7;
}

.units__saved {
  transition: all 0.3s ease;
}

.units__saved--off {
  transform: scale(1.1);
  padding: 0.5rem;

  &:hover {
    cursor: pointer;
    background-color: $turquoise;
    border-radius: 50%;
    transition: all 0.3s ease;
  }
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
