@use "./partials/fonts" as *;
@use "./partials/variables" as *;
@use "./partials/mixins" as *;

.home {
  &__container {
    width: 100%;

    &__welcome {
      min-height: 150px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: rgb(3, 11, 17);
      background: linear-gradient(
        180deg,
        rgba(3, 11, 17, 1) 0%,
        rgba(6, 24, 37, 1) 100%
      );
    }

    &__title {
      animation: title-fade-in 1s forwards;
      opacity: 1;
      color: $off-white-reduced;
      font-size: 3rem;
      margin-top: 1rem;
    }
  }

  &__inactive-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 1rem;
  }

  &__inactive-sub {
    font-size: 1rem;
    opacity: 0.7;
  }

  &__image {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: -1;

    &--picture {
      width: 80%;
      object-fit: contain;
    }

    &--top {
      width: 100%;
      position: absolute;
      object-fit: contain;
      top: 9rem;
      left: 0;
      z-index: 0;
    }

    &--bot {
      width: 100%;
      position: absolute;
      object-fit: contain;
      bottom: 0;
      left: 0;
      z-index: 1;

    }
  }
}

@keyframes title-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
