@use "./partials/fonts" as *;
@use "./partials/variables" as *;
@use "./partials/mixins" as *;

.bg-wrapper {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -10;


  &--disappear {
    @extend .bg-wrapper;
    animation: bg-slide-up 2s linear;
    opacity: 0;
  }
}
.bg-solid {
  @extend .bg-wrapper;
  width: 100vw;
  height: 100%;
  aspect-ratio: 1 / 1;
  overflow: visible;
  opacity: 0.8;
  z-index: -20;
  animation: pan-across 45s infinite alternate;
  position: fixed;

  &--disappear {
    @extend .bg-solid;
    animation: bg-slide-up 2s linear;
    opacity: 0;
  }
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.landing {
  &__container {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet {
        width: 65%;
        max-width: 450px;
        margin-top: 8rem;
    }

    @include mobile {
        width: 100%;
        margin-top: 5rem;
        padding: 0 1rem;
    }
  }

  &__title {
    font-family: "Paytone One", sans-serif;
    color: white;
    font-size: 7rem;
    text-align: right;

    @include tablet {
        font-size: 6.5rem;
    }

    @include mobile {
        font-size: 20vw;
    }

    &--disappear {
      @extend .landing__title;
      animation: slide-out 0.5s ease-out;
      opacity: 0;
    }
  }

  &__slogan {
    color: white;
    font-size: 1.5rem;
    text-align: right;
    margin-top: -1rem;

    @include tablet {
    }

    &--disappear {
      @extend .landing__slogan;
      animation: slide-out-2 0.5s ease-out forwards;
      animation-fill-mode: forwards;
      opacity: 0;
    }
  }
  &__footer {
    font-size: 0.8rem;
    width: 100%;
    position: absolute;
    bottom: 1rem;
    left: 0;
    color: $off-white-reduced;
    text-align: center;

  }
}

.transition__bg {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
  transform: translateY(-500%);

  &--moving {
    @extend .transition__bg;
    animation: transition-slide-up 4.5s;
    transform: translateY(-25%);
    opacity: 1;
  }
}

.transition__bot {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -10;
  transform: translateY(-500%);

  &--moving {
    @extend .transition__bg;
    animation: transition-slide-up-4 4.5s;
    transform: translateY(35%);
    opacity: 1;
  }
}

.transition__fire {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
  transform: translateY(-500%);

  &--moving {
    @extend .transition__fire;
    animation: transition-slide-up-2 5s;
    opacity: 1;
  }
}

@keyframes pan-across {
    from {
      transform: translateX(25%);
    }
    to {
      transform: translateX(-25%);
    }
  }

@keyframes slide-out {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  10% {
    transform: translateY(15%);
  }
  20% {
    transform: translateY(0%);
  }
  25% {
    transform: translateY(-10%);
  }
  35% {
    transform: translateY(-20%);
  }
  55% {
    transform: translateY(-100%);
  }
  70% {
    transform: translateY(-405%);
    opacity: 1;
  }
  100% {
    transform: translateY(-500%);
    opacity: 0;
    display: none;
  }
}

@keyframes slide-out-2 {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  10% {
    transform: translateY(15%);
  }
  20% {
    transform: translateY(0%);
  }
  25% {
    transform: translateY(-10%);
  }
  35% {
    transform: translateY(-80%);
  }
  55% {
    transform: translateY(-100%);
  }
  70% {
    transform: translateY(-750%);
    opacity: 1;
  }
  100% {
    transform: translateY(-1000%);
    opacity: 0;
    display: none;
  }
}

@keyframes bg-slide-up {
  0% {
    height: 100vh;
    opacity: 1;
  }
  25% {
  }
  75% {
    opacity: 1;
  }
  90% {
    opacity: 0.55;
  }
  100% {
    height: 200vh;
    opacity: 0;
  }
}

@keyframes transition-slide-up {
  0% {
    transform: translateY(500%);
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  100% {
    transform: translateY(-25%);
    opacity: 1;
  }
}

@keyframes transition-slide-up-2 {
  0% {
    transform: translateY(500%);
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    top: 15rem;
    transform: translateY(0);
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes transition-slide-up-3 {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  60% {
    opacity: 0;
  }

  75% {
    transform: scale(0.2);
  }
  85% {
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes transition-slide-up-4 {
  0% {
    opacity: 0;
    transform: translateY(-500%);

  }
  50% {
    opacity: 0;
  }
  100%{
    transform: translateY(100%);
    opacity: 1;
  }
}