@use "./partials/fonts" as *;
@use "./partials/variables" as *;
@use "./partials/mixins" as *;

.meditate {
  &__wrapper {
    height: 100%;
    margin-top: 7rem;
    display: flex;
    flex-direction: column;
  }
  &__picture {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &__gif {
    width: 40%;
    margin-left: 1%;
    margin-top: -2rem;
    opacity: 1;
    animation: fade-in 1s;
  }
}

@keyframes fade-in {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}