@use "./partials/fonts" as *;
@use "./partials/variables" as *;
@use "./partials/mixins" as *;

.units {
    &__bg {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -10;

        &--img {
            width: 100%;
            object-fit: cover;
        }
    }

    &__container {
        width: 100%;
        max-width: 980px;
        margin: 0 auto;
        padding: 0 3rem;
        position: relative;
        margin-bottom: 20rem;

        @include desktop {
          max-width: 750px;
          padding: 0 4rem;
          margin-bottom: 0;
        }

        @include mobile {
          padding: 0.5rem 1rem;
        }
        
      }
    
      &__header {
        display: flex;
        align-items: center;
        gap: 1rem;
        width: 100%;
        margin: 4rem 0;
        animation: slide-in 0.5s;
        transition: all 0.3s;

        @include tablet {
          margin: 6rem 0 4rem;
        transition: all 0.3s;

        }
        @include mobile {
          margin: 6rem 0 2rem;
        transition: all 0.3s;

        }
      }
  
      &__return {
        color: $off-white;
        font-size: 3rem;
        &:hover {
          cursor: pointer;
          color: $turquoise;
          transition: color 0.5s;
        }
      }
    
      &__title {
        color: $off-white;
        font-size: 3rem;
        text-transform: uppercase;
        font-weight: 700;

        @include tablet {
          font-size: 2rem;
        }

        @include mobile {
          font-size: 1.5rem;

        }
      }

      &__pages {
        background-color: $background-faded;
        color: white;
        min-height: 2rem;
        min-width: 5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        font-size: 1.5rem;

        @include mobile {
          font-size: 1rem;
          min-width: 3rem;
        }
      }
}

.carousel {
  &__main {
    overflow: visible;
  }

  &__buttons {
    position: absolute;
    width: 101%;
    z-index: 7;
    color: white;
    display: flex;
    justify-content: space-between;
    top: 27rem;
    left: -0.5rem;

    @include desktop {
      width: 95%;
      left: 2%;
    }

    @include mobile {
      justify-content: center;
      align-items: flex-end;
      position: fixed;
      top:auto;
      bottom: 3rem;
      gap: 5rem;
      
    }
    
    &--el {
      @include mobile {
        background-color: $black;
        border-radius: 50%;
      }

      &:hover {
        cursor: pointer;
        background-color: $turquoise;
        border-radius: 50%;
        transition: background-color 0.3s;
    
      }

      & > span {
        font-size: 2rem;
        @include mobile {
          font-size: 3.5rem;
        }
      }
    }
  }

}

swiper-container {
  overflow-y: visible;
  height: auto;
}

.swiper-pagination {
  position: relative;
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}