@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.modal {
  &__wrapper {
    width: 100%;
    height: 100vh;
    background-color: #030b11aa;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 30;
    position: fixed;

    @include tablet {
      padding-top: 3rem;
    }

    @include mobile {
      align-items: flex-start;
    }
  }
  &__container {
    width: 100%;
    max-width: 550px;
    min-height: 60%;
    background-color: #030b11ee;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 3rem;
    color: $off-white;
    margin-top: 8%;
    animation: fade-in 1.5s forwards;

    @include desktop {
      width: 80%;
      max-width: 800px;
      z-index: 15;
    }

    @include tablet {
      width: 100%;
      max-width: none;
      margin-top: 0;
    }

    @include mobile {
      padding: 1rem 1.5rem;
    }
  }

  &__title {
    font-size: 2.5rem;
    padding-bottom: 1rem;
    color: $off-white;
    @include mobile {
      font-size: 1.3rem;
    }
  }

  &__para {
    font-size: 1.2em;
    line-height: 2.8rem;
    padding-bottom: 1rem;
    color: $off-white;

    @include tablet {
    }
    @include mobile {
      font-size: 1.1rem;
      line-height: 2.5rem;
    }
  }
  &__bottom {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__navigation {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
  }

  &__btn {
    width: 50%;
    max-width: 200px;
    background-color: $turquoise;
    color: $off-white;
    border: none;
    border-radius: 4px;
    padding: 0.5rem;
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-bottom: 2rem;

    &:hover {
      cursor: pointer;
      background-color: $blue-green;
    }
  }
  &__img {
    width: 80%;
    max-width: 300px;
    max-height: 300px;
    border: 1px solid $off-white;
    margin-bottom: 1rem;
    object-fit: cover;
    border-radius: 4px;

    &--half {
      @extend .modal__img;
      width: 40%;
      max-width: 200px;
    }

    &--container {
      display: flex;
      justify-content: center;
      width: 100%;
      gap: 1rem;

      @include mobile {
       
        gap: 0.3rem;
      }
    }
  }
  &__skip{
    &--text{
        color: $off-white-reduced;
        font-size: 0.8rem;
        cursor: pointer;
        padding: 0.3rem;
        border-radius: 4px;
        &:hover {
            background-color: $turquoise;
            color: $off-white;
            transition: all 0.3s;

        }
    }
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-in {
  from {
    transform: translateX(25%);
  }
  to {
    transform: translateX(0);
  }
}
