@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;


.card {
    &__container {
        display: flex;
        flex-direction: column;
        width: 20%;
        min-width: 270px;
        background-color: $off-white;
        border-radius: 4px;
        padding: 1rem;
        align-items: center;
        justify-content: space-between;
        min-height: 385px;

        &:hover {
            background-color: $off-white-highlighted;
            transition: background-color 0.3s;

            & > img {
                transform: scale(1.1);
                transition: transform 0.3s;
            }
        }


        &--off {
            @extend .card__container;
            filter: grayscale(100%);
            opacity: 0.5;
           
            &--dark {
                @extend .card__container--off;
                background-color: $dark-mode-bg;

                &:hover {
                    background-color: $dark-mode-bg-hover;
                }
            }
        }

        
        &--dark {
            @extend .card__container;
            background-color: $dark-mode-bg;
            border: 1px solid $off-white-reduced;

            &:hover {
                background-color: $dark-mode-bg-hover;
                border: 1px solid $turquoise;
                transition: all 0.3s;
            }

        }
        
    }

    &__name {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        text-align: center;
        min-height: 4.5rem;
        font-weight: 500;

        &--dark {
            @extend .card__name;
            color: $off-white;
        }
    }

    &__image {
        width: 70%;
        filter: drop-shadow(0 3px 1px rgb(72, 72, 72));
        padding-bottom: 1.2rem;
    }

    &__button {
        background-color: $black;
        color: $off-white;
        border: none;
        border-radius: 4px;
        padding: 0.75rem;
        width: 100%;
        text-transform: uppercase;
        margin-top: 1rem;
        font-size: 1.1rem;
        font-weight: 500;

        &--disabled {
            @extend .card__button;
            pointer-events: none;
        }

        &:hover {
            background-color: $turquoise;
            transition: background-color 0.3s;
            cursor: pointer;

        }

        &--dark {
            @extend .card__button;
            
        }
    }
    &__image-placeholder {
        background-color: $background-faded;
        width: 10rem;
        height: 10rem;
        border-radius: 50%;
        margin-bottom: 2rem;
    }
    &__display {
        color: $off-white;
    }
}

@keyframes fade-out{
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}