@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.meditate {
  &__setting {
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: slide-from-top 0.5s;
  }
  &__now-playing {
    color: $off-white;
    opacity: 0.5;
    padding-bottom: 1rem;
    text-transform: uppercase;
  }

  &__choices {
    width: 300px;
    padding: 2rem;
    min-width: 400px;

    &__block {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 0.8rem 2rem;
      gap: 5px;
      animation: block-appear 0.5s linear forwards;

      &--active {
        @extend .meditate__choices__block;
      }

      &--vol {
        @extend .meditate__choices__block;
        flex-direction: column;
      }
    }

    &__volume {
      display: flex;
      width: 100%;
      justify-content: space-between;

      &__left {
        display: flex;
        align-items: center;
        width: 70%;
      }

      &__right {
        display: flex;
        justify-content: space-between;
        width: 20%;
      }
    }

    &__label {
      font-size: 1.3rem;
      text-transform: uppercase;
      color: $off-white;
      width: 60%;

      &--integer {
        color: $off-white;
        font-size: 1.3rem;
      }

      &--small {
        font-size: 0.8rem;
      }

      &--sound {
        @extend .meditate__choices__label;
        width: 30%;
      }
    }

    &__select {
      width: 65%;
      background-color: $light-black;
      border: none;
      border-radius: 4px;
      color: $off-white-reduced;
      padding: 0 0.5rem;

      &:focus,
      :active {
        // background-color: $turquoise;
        outline: 1.5px solid $light-black;
      }
    }

    &__input {
      width: 30%;
      font-size: 0.8rem;
      padding: 0 0.5rem;
      border-radius: 4px;
      background-color: $light-black;
      color: $off-white-reduced;

      &:focus,
      :active {
        color: $light-black;
        background-color: $turquoise;
        outline: 1.5px solid $light-black;
        transition: all 0.3s;
      }
    }

    &__button {
      width: 100%;
      padding: 0.7rem 1rem;
      background-color: #52b69aaa;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $off-white-reduced;
      border: none;
      border-radius: 4px;
      font-size: 1rem;
      text-transform: uppercase;
      animation: block-appear 0.5s linear forwards;

      &:hover {
        cursor: pointer;
        background-color: $turquoise;
        color: $off-white;
        transition: all 0.3s;
      }

      &--pause {
        @extend .meditate__choices__button;
        opacity: 1;
        animation: block-appear 0.5s linear forwards;
      }
    }
  }
}

.active {
  &__setting {
    @extend .meditate__setting;
    height: 150px;
    margin-bottom: 5rem;
  }
}

.volume-el {
  color: $off-white;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;

  &:hover {
    background-color: $turquoise;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.2s;
  }
}

.inner-icon {
  margin-left: -0.5rem;
}

@keyframes slide-from-top {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes block-appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
