@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.chapters {
    &__container {
      max-width: 1024px;
      margin: 0 auto;
    }
  
    &__header {
      display: flex;
      align-items: center;
      gap: 1rem;
      width: 100%;
      margin: 6rem 0;
    }

    &__return {
      color: $off-white;
      font-size: 3rem;

      &:hover {
        cursor: pointer;
        color: $turquoise;
        transition: color 0.3s;
      }
    }
  
    &__title {
      color: $off-white;
      font-size: 3rem;
      text-transform: uppercase;
      font-weight: 700;
    }
  
    &__main {
      display: flex;
      width: 100%;
      gap: 3rem;
      padding: 2rem 0;
      flex-wrap: nowrap;
      overflow-x: scroll;
      overflow-y: hidden;
      animation: slide-in 0.5s;

    
      &::-webkit-scrollbar {
        width: 2rem;
        
      }
  
      &::-webkit-scrollbar-track {
        background: $extra-dark-blue;
      }
  
      &::-webkit-scrollbar-thumb {
        background: $dark-green;
      }
    }
  }
  

  @keyframes slide-in {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }