@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.error {

&__container {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.3rem;
    margin-bottom: 0.3rem;
}
&__icon {
    color: rgb(183, 0, 0);
    font-size: 0.2rem;
    
}
&__message {
    color: rgb(183, 0, 0);
    font-size: 0.8rem;
    background-color: $off-white;
    padding: 0.2rem 0.5rem;
    border-radius: 4px;
}
}

.hidden {
    visibility: hidden;
}