@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.expand__list {
  &__block {
    padding-top: 1rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
    z-index: 10;
    gap: 1rem;

    @include mobile {
        align-items: flex-start;
        gap: 0.5rem;
    }
  }

  &--icon {
    width: 7%;
    z-index: 10;
    object-fit: contain;
    filter: drop-shadow(0 1px 1px black);

    &:hover {
      transform: scale(1.1);
      transition: transform 0.2s;
    }

    &:active {
      animation: click-pressdown 0.25s;
    }
    @include tablet {
        min-width: 50px;
    }
    @include mobile {
        width: 30%;
    }
  }

  &--suggestion {
    border-radius: 4px;
    width: 90%;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    background-color: $off-white-highlighted;

    &--dark {
      @extend .expand__list--suggestion;
      background-color: $dark-mode-border;
    }
  }

  &--text {
    font-size: 1.5rem;

    @include tablet {
        font-size: 1rem;
    }

    @include mobile {
        line-height: 2rem;
    }
  }
}

@keyframes click-pressdown {
  0% {
    transform: translateY(5%);
  }
  100% {
    transform: translateX(0);
  }
}
