@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.forgot {
  &__container {
    width: 100%;
    padding: 1rem 1.5rem 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    animation: toggle-slide-in-left 0.3s;

    @include tablet {
      padding: 0;
    }

    @include mobile {
      animation: toggle-slide-in-left-MOBILE 0.3s;
    }
  }
  &__label {
    color: $off-white;
    align-self: flex-start;
    font-size: 1rem;
    letter-spacing: 1px;
    padding-bottom: 0.5rem;
  }

  &__input {
    width: 100%;
    max-width: 500px;
    padding: 0.5rem 1rem 0.5rem;
    background-color: $off-white-reduced;
    border: none;
    border-radius: 4px;
    margin-bottom: 0.3rem;
    color: $extra-dark-blue;
  }
  &__button {
    width: 100%;
    background-color: $dark-green;
    margin-top: 0.5rem;
    color: $off-white;
    padding: 0.6rem 1rem;
    border: 0;
    border-radius: 4px;
    font-size: 1.2rem;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;

    &:hover {
      background-color: $turquoise;
      transition: background-color 0.3s;
    }
  }

  &__message {
    color: $off-white;
    padding: 0.3rem 0.5rem;
    border-radius: 4px;
    margin: 1rem 1.5rem;
    max-width: 500px;
    width: 100%;
    line-height: 150%;
    background-color: $background-faded;
    animation: toggle-slide-in-left 0.3s;

  }

  &__return {
    padding: 3rem 0 1rem;
    display: flex;
    width: 100%;
    color: $off-white-reduced;
    align-items: center;
    gap: 0.2rem;
    animation: toggle-slide-in-left 0.3s;


    &:hover {
        color: $off-white;
        cursor: pointer;
        gap: 0;
        transition: gap 0.3s;
    }
  }
}
