@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.options {
  position: fixed;
  right: 0;
  top: 40%;
  color: white;
  background-color: $black;
  width: 17rem;
  padding: 1rem 1rem 1rem 0;
  display: flex;
  justify-content: center;
  border-radius: 4px;
  animation: slide-in 0.5s ease-out;
  z-index: 5;

  @include mobile {
    top: 35%;
  }

  &__upper {
    padding-bottom: 1rem;
    border-bottom: 1px solid $off-white-reduced;
  }

  &__left {
    width: 10%;
    height: 100%;
    min-height: 12rem;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:$black;
    border-left: 1px solid $off-white;

    &:hover {
      cursor: pointer;
      background-color: $background-faded;
      transition: all 0.2s;
    }
  }

  &__right {
    width: 90%;
    display: flex;
    flex-direction: column;
  }

  &__sound {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 1rem;
    opacity: 0.7;
    padding: 0 1rem;
    margin-bottom: 1rem;

    &:hover {
      transition: background-color 0.25s;
      background-color: #52b69a;
      cursor: pointer;
    }
  }

  &__animation {
    @extend .options__sound;
  }

  &__credits {
    @extend .options__sound;
    margin-top: 2rem;

    &--icon {
      color: $off-white-reduced;
    }
  }

  &__expand {
    position: fixed;
    right: 0;
    top: 50%;
    border-left: 2px solid $off-white-reduced;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.2rem;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.8);

    @include mobile {
      top: 40%;
      padding: 0.5rem;
    }

    &--icon {
      color: $off-white-reduced;

      @include mobile {
        display: none;
      }
    }

    &--header {
      color: $off-white-reduced;
      font-size: 0.8rem;

      @include mobile {
        display: none;
      }
    }

    &:hover {
      cursor: pointer;
      border-left: 3px solid $off-white;
      padding-right: 1.5rem;
      background-color: $background-faded;
      opacity: 1;
      transition: all 0.2s;
    }

    &:hover > span, &:hover > p {
      color: $off-white;
    }
  }
}

// FOR OPTIONS SLIDE IN FROM RIGHT
@keyframes slide-in {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.options__credits:last-of-type {
  margin-top: 0;
}

.options__expand--icon:nth-of-type(1) {
  @include mobile {
    display: none;
  }
}