@use "./styles/partials/fonts" as *;
@use "./styles/partials/variables" as *;
@use "./styles/partials/mixins" as *;

*,
*::before,
*:after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
body,
html,
div,
span,
header,
footer,
section,
nav,
ul,
li,
a,
blockquote,
textarea, input {
    margin: 0;
    padding: 0;
    border: 0;
    font-style: normal;
    font-weight: normal;
}

// select {
//     appearance: none;
//     -webkit-appearance: none;
//     -moz-appearance: none;
//     background-color: transparent;
//     border: none;
//     padding: 0 1em 0 0;
//     margin: 0;
//     width: 100%;
//     font-family: inherit;
//     font-size: inherit;
//     cursor: inherit;
//     line-height: inherit;
//     outline: none;

// }

html {
    scroll-behavior: smooth;
}

ul,
li,
a {
    list-style: none;
    text-decoration: none;
}

body {
    background-color: $black;
    // display: flex;
    // justify-content: center;
    // align-items: center;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
